h1
{
	text-align: center;
}
h1
{
	font-size: 2.5vw;
}
th, td
{
	border: 1px solid black;
}
th
{
	font-size: 1.2vw;
}
td:hover
{
	background-color: white
}
td#elem
{
	width: 5.5%;
	height: 10%;
	text-align: center;
}
p#numt
{
	margin: 0;
	text-align: right;
	font-size: 0.8vw;
}
p#numl
{
	margin: 0;
	text-align: left;
	font-size: 0.9vw;
}
p#sym
{
	font-size: 1vw;
	font-weight: bold;
}
.no-border
{
	border: none;
}
.elems_1
{
	background-color: #FFFF33;
}
.elems_2
{
	background-color: #CC3333;
}
.elems_3
{
	background-color: #FFCC99;
}
.elems_4
{
	background-color: #FF9999;
}
.elems_5
{
	background-color: #FF99FF;
}
.elems_6
{
	background-color: #FF00CC;
}
.elems_7
{
	background-color: #CCFFFF;
}
.elems_8
{
	background-color: #CCCCCC;
}
.elems_9
{
	background-color: #999999;
}
.elems_10
{
	background-color: #999933;
}
.elems_11
{
	background-color: #66FF99;
}